@model Students_Site.Models.Account.LoginModel
 
@{
	ViewData["Title"] = "Вход";
}

<h2>Вход на сайт</h2>

<form asp-antiforgery="true" asp-action="Login" asp-controller="Account">
	<div class="form-horizontal">

		<div class="form-group">
			<label asp-for="Login">Введите Логин</label>
			<input type="text" asp-for="Login" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Password">Введите пароль</label>
			<input type="password" asp-for="Password" class="form-control" />
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Войти" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>

<script src="~/js/redirect-response-handle.js" asp-append-version="true"></script>
@section scripts {

	<environment names="Development">
		<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
		        asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
		        asp-fallback-test="window.jQuery && window.jQuery.validator">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
		        asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
		        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
		</script>
	</environment>
}