@model Students_Site.Models.TeacherModel

@{
	ViewData["Title"] = "ShowTeacher";
}

<h1>Преподаватель</h1>

<div>
	<div>
		<label>Имя</label>
		<p>@Html.DisplayName(Model.FirstName)</p>
	</div>
	<div>
		<label>Фамилия</label>
		<p>@Html.DisplayName(Model.LastName)</p>
	</div>
</div>

<h1>Студенты преподавателя</h1>
<table class="table">
	@foreach (var item in Model.Students)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
		</tr>
	}
</table>

