@model Students_Site.Models.Home.IndexModel

<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Студенты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Преподаватели</a>
					</li>
					@if (!User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
						</li>
					}

					<li class="nav-item">
						<span class="navbar-brand">Кол-во студентов: @Model.StudentCount</span>
					</li>

					<li class="nav-item">
						<span class="navbar-brand">Кол-во преподавателей: @Model.TeacherCount</span>
					</li>

					<li class="nav-item">
						<span class="navbar-brand" id="headerDateTime"></span>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</header>

<script src="~/js/current-time.js"></script>

<script>
	startTime("headerDateTime");
</script>